header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: aquamarine;
}

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: aquamarine;
}



main{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: rgb(19, 184, 184);
    // main1{
    //     width: 100%;
    //     height: 70vh;
    // }
}

